@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

:root {
  --brand: #f7a012;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}
